$main-color: #bdc3c7;
$main-color-light: white;
$main-color-lighter: #3498db;
$sec-color-strong: black;
$sec-color-dim: #F1EED9;
$warning-color: #e74c3c;


.nav-bar {
    width: 100%;
    height: 48px;
    background-color: $main-color-lighter;

    ul, li {
        display: inline-block;
        list-style: none;
        vertical-align: middle;
    }

    ul {
        margin-left: 10px;
        margin-right: 10px;
    }

    li {
        height: 48px;
        line-height: 48px;
        vertical-align: middle;
    }

    .nav-btn {
        color: white;
        text-decoration: none;
        transition: .3s;

        &:hover {
            color: black;
            cursor: pointer;
            transition: .3s;
        }
    }

    .brand {
        font-size: 1.2em;
        color: $main-color-light !important;
        padding-left: 4px;
        padding-right: 4px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}
