$main-color: #bdc3c7;
$main-color-light: white;
$main-color-lighter: #3498db;
$sec-color-strong: black;
$sec-color-dim: #F1EED9;
$warning-color: #e74c3c;


.nav-bar {
    width: 100%;
    height: 48px;
    background-color: $main-color-lighter;

    ul, li {
        display: inline-block;
        list-style: none;
        vertical-align: middle;
    }

    ul {
        margin-left: 10px;
        margin-right: 10px;
    }

    li {
        height: 48px;
        line-height: 48px;
        vertical-align: middle;
    }

    .nav-btn {
        color: white;
        text-decoration: none;
        transition: .3s;

        &:hover {
            color: black;
            cursor: pointer;
            transition: .3s;
        }
    }

    .brand {
        font-size: 1.2em;
        color: $main-color-light !important;
        padding-left: 4px;
        padding-right: 4px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.feed {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;

    .item {
        width: 80%;
        min-height: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
    }

    .extended {
        min-height: 300px !important;
        display: flex;

        section {
            width: 100%;
        }

        .section-left {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 80%;
            }
        }
    }
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
