{% extends 'layout.html' %}

{% block lwpcms_head %}
    <link
        rel='stylesheet'
        type='text/css'
        href='/theme/static/css/style.css'>
{% endblock %}

{% block lwpcms_content %}
    <nav class='nav-bar'>
        <ul class='left'>
            <li class='brand'><a class='nav-btn' href='/'>{{ get_activated_theme()['name'] }}</a></li>
        </ul>
        <ul class='right'>
            <li><a class='nav-btn' href='about.html'>About</a></li>
            <li><a class='nav-btn' href='/admin'>Admin</a></li>
        </ul>
    </nav>
    <section class='feed card-2'>
        {% for post in get_posts({'type': 'post', 'classes': ['post']}, ('created', pymongo.DESCENDING)) %}
            <div class='item card-2 {% if post.attachments|length > 0 %} extended {% endif %}'>
                {% if post.attachments|length > 0 %}
                    <section class='section-left'>
                        <img src='/static/upload/{{ post.attachments[0].content }}'>
                    </section>
                    <section>
                        <h1>{{ post.title }}</h1>
                        <p>{{ shorten_text(post.content, 700) }}<p>
                    </section>
                {% else %}
                   <section>
                        <h1>{{ post.title }}</h1>
                        <p>{{ shorten_text(post.content, 700) }}<p>
                    </section> 
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
