{% extends 'theme/theme.html' %}

{% block theme_content %}
    {% for post in get_posts({'type': 'post', 'classes': ['post']}, ('created', pymongo.DESCENDING)) %}
        <div class='item card-2 {% if post.attachments|length > 0 %} extended {% endif %}'>
            {% if post.attachments|length > 0 %}
                <section class='section-left'>
                    <img src='/static/upload/{{ post.attachments[0].content }}'>
                </section>
                <section>
                    <h1>{{ post.title }}</h1>
                    <p>{{ shorten_text(post.content, 700) }}<p>
                </section>
            {% else %}
               <section>
                    <h1>{{ post.title }}</h1>
                    <p>{{ shorten_text(post.content, 700) }}<p>
                </section> 
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
