{% extends 'layout.html' %}
{% from '_svg.html' import render_svg %}
{% from '_lwpcmshelpers.html' import lwpcms_render_font %}

{% block lwpcms_head %}
    {{ super() }}

    {{ lwpcms_render_font() }}
{% endblock %}

{% block lwpcms_content %}
    <nav class='lwpcms-top-nav'>
        <ul class='left'>
            <li>
                <a href='/admin'>{{ lwpcms_render_svg('LWPCMS.svg') | safe }}</a>
                <span>
                    <a href='/admin' class='lwpcms-top-nav-btn'>
                        {{ get_option('site_name').value }}
                    </a>
                </span>
            </li>
        </ul>
        <ul class='right'>
            <li>
                {% set avatar = get_current_user().avatar %}
                {% if avatar is not none %}
                    <img src='{{ '/static/upload/' + avatar.filename }}'>
                {% else %}
                    <img src='/static/image/avatar.png'>
                {% endif %}
                <span>
                    <a href='/admin/edituser/{{ get_current_user()._id }}'
                    class='lwpcms-top-nav-btn'>
                            {{ get_current_user().nick_name }}
                    </a>
                </span>
            </li>
        </ul>
    </nav>
    <div id='lwpcms-content-admin'>
        <nav class='lwpcms-side-nav'>
            <ul class='lwpcms-side-nav-side'>
                {% for button in sidenav['buttons'] %}
                    <li>
                        <a class='lwpcms-side-nav-point'>
                            <span>{{ lwpcms_render_svg(button['svg']) | safe}}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul> 
            <ul>
                {% for button in sidenav['buttons'] %}
                    <li>
                        <a class='lwpcms-side-nav-btn' href='{{ button["href"] }}'>
                            <span>{{ button["label"] }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <section id='lwpcms-admin-content'> 
            {% block admin_content %}
                {% include 'home.html' %}
            {% endblock %}
        </section>
    </div>
{% endblock %}
