{% extends 'admin.html' %}

{% from '_formhelpers.html' import render_field %}
{% from '_svg.html' import render_svg %}


{% block admin_content %}
    <section>
        <form method='POST' class='lwpcms-form' enctype="multipart/form-data">
            {% if user %}
                <input type='hidden' name='user_id' value='{{ user._id }}'>
            {% endif %}
            <section>
                <h3>Edit User</h3>
            </section>
            <section>
                {{ render_field(form.user_name) }}
                {{ render_field(form.password) }}
                {{ render_field(form.password_confirm) }}
            </section>
            <section>
                {% if not id %}
                    {{ render_field(form.submit) }}
                {% else %}
                    {{ render_field(form.update) }}
                {% endif %}
            </section>
        </form>
    </section>
{% endblock %}
