{% extends 'admin.html' %}


{% block admin_content %}
    <section>
        <a href='/admin/edituser' class='lwpcms-btn'>Add New</a>
    </section>
    <section>
        <table class='lwpcms-table'>
            <tr>
                <th>Name</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ shorten_text(user.nick_name, 32) }}</td>
                    <td>{{ shorten_text(user.password, 32) }}</td>
                    <td class='lwpcms-table-td'>
                        <section>
                            <button class='lwpcms-btn' onClick='window.location.href="/admin/edituser/{{ user._id }}"'>Edit</button>
                        </section>
                        <section>
                            <button class='lwpcms-btn' onClick='event.cancelBubble=true; delete_post(this, "{{ user._id }}");' >Delete</button>
                        </section>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
