{% extends 'admin.html' %}
{% from '_formhelpers.html' import render_field %}


{% block admin_content %}
    <form method="POST" class='lwpcms-form'>
        <section>
            {% for option in options %}
                <input type='hidden' name='avail_options' value='{{ option.key }}'>
                <section>
                    <label for='{{ option.key }}'>{{ option.key }}</label><br>
                    {% if option.type == 'textarea' %}
                        <textarea id='{{ option.key }}' name='{{ option.key }}'>{{ option.value }}</textarea>
                    {% elif option.type == 'text' %}
                        <input type='text' id='{{ option.key }}' name='{{ option.key }}' value='{{ option.value }}'>
                    {% elif option.type == 'integer' %}
                        <input type='number' id='{{ option.key }}' name='{{ option.key }}' value='{{ option.value }}'>
                    {% elif option.type == 'tags' %}
                        <input type='tags' id='{{ option.key }}' tags='{{ option.value }}' placeholder='{{ option.value }}' name='{{ option.key }}' value='{{ option.value }}'>
                    {% elif option.type == 'boolean' %}
                        <input type='checkbox' id='{{ option.key }}' name='{{ option.key }}' {% if option.value == 'True' or option.value == true %} checked {% endif %}>
                    {% endif %}
                </section>
            {% endfor %}
        </section>
        <section>
            <input type='submit' class='lwpcms-btn' value='Save'>
        </section>
    </form>
{% endblock %}
