{% extends 'admin.html' %}


{% block admin_content %}
    <section>
        <table class='lwpcms-table'>
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Description</th>
                <th>Version</th>
                <th>Author</th>
                <th>Activate</th>
            </tr>
            {% for theme in themes %}
                <tr>
                    <td><img src="/theme/name/{{theme['name']}}/theme.png"></td>
                    <td>{{ theme['name'] }}</td>
                    <td>{{ theme['description'] }}</td>
                    <td>{{ theme['version'] }}</td>
                    <td>{{ theme['author'] }}</td>
                    <td>
                        <form method='POST'>
                            <input
                                type='hidden'
                                name='theme_path'
                                value='{{ theme["path"] }}'>
                            {% if theme['activated'] == false %}
                                <button class='lwpcms-btn'>Activate</button>
                            {% else %}
                                <input
                                    type='submit'
                                    class='lwpcms-btn'
                                    value='Deactivate'>
                            {% endif %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
