{% extends 'admin.html' %}

{% from '_formhelpers.html' import render_field %}


{% block admin_content %}
    <section>
        <h2>Files</h2>
        <p>
            Welcome to the files section.
            This section is used to manage files.
        </p>
    </section>
    <section>
        <form method='POST' class='lwpcms-form' enctype="multipart/form-data">
            <section>
                <h3>Upload File</h3>
            </section>
            <section>
                {{ render_field(form.title) }}
                {{ render_field(form.file) }}
            </section>
            <section>
                {{ render_field(form.submit) }}
            </section>
        </form>
    </section>
    <section>
        <div class='lwpcms-gallery'>
            {% for file in files %}
                <div
                    onClick='window.location.href="{{
                        url_for("static", filename="upload/"+file.content)
                    }}";'
                    class='lwpcms-gallery-item'>
                    <p>
                        {{ file.title }}
                    </p>
                    {% if is_image(file.content) %}
                        <img 
                        src='{{
                        url_for("static", filename="upload/"+file.content)
                        }}'>
                    {% else %}
                        {{ render_svg('drive_file.svg', 'black') }}
                    {% endif %}
                    <br>
                    <p>
                        {{ file.content }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
