{% extends 'admin.html' %}


{% block admin_content %}
    <section>
        <h2>Modules</h2>
        <p>
            Welcome to the modules section.
            This section is used to manage/install modules.
        </p>
    </section>
    <section>
        <table class='lwpcms-table'>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Version</th>
                <th>Author</th>
                <th>Activate</th>
            </tr>
            {% for module in modules %}
                <tr>
                    <td>{{ module['name'] }}</td>
                    <td>{{ module['description'] }}</td>
                    <td>{{ module['version'] }}</td>
                    <td>{{ module['author'] }}</td>
                    <td><button class='lwpcms-button'>Activate</button></td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
