{% extends 'admin.html' %}


{% block admin_content %}
    <section>
        <h2>Development</h2>
        <p>
            This page is for developers.
        </p>
    </section>
    <!--<section>
        <div class='lwpcms-gallery'>
            <div class='lwpcms-gallery-item' onClick='generate_testdata();'>
                <button class='lwpcms-button'>Generate Data</button>
                <p>
                    Generate test data
                </p>
            </div>
        </div>
    </section>-->

{% endblock %}
