{% extends 'admin.html' %}

{% from '_formhelpers.html' import render_field %}


{% block admin_content %}
    <section>
        <h2>Files</h2>
        <p>
            Welcome to the files section.
            This section is used to manage files.
        </p>
    </section>
    <section>
        <form method='POST' class='lwpcms-form'>
            <section>
                <h3>Upload File</h3>
            </section>
            <section>
                {{ render_field(form.title) }}
                {{ render_field(form.file) }}
            </section>
            <section>
                {{ render_field(form.submit) }}
            </section>
        </form>
    </section>
{% endblock %}
