{% extends 'layout.html' %}
{% from '_svg.html' import render_svg %}


{% block lwpcms_content %}
    <nav class='lwpcms-side-nav'>
        <ul class='lwpcms-side-nav-side'>
            {% for button in side_nav_buttons['buttons'] %}
                <li>
                    <a class='lwpcms-side-nav-point'>
                        <span>{{ render_svg(button['svg'], 'white') }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul> 
        <ul>
            {% for button in side_nav_buttons['buttons'] %}
                <li>
                    <a class='lwpcms-side-nav-btn' href='{{ button["href"] }}'>
                        <span>{{ button["label"] }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
