{% extends 'layout.html' %}
{% from '_svg.html' import render_svg %}

{% block lwpcms_head %}
    {{ super() }}

    <link 
    href='https://fonts.googleapis.com/css?family=Open+Sans'
    rel='stylesheet'
    type='text/css'>
{% endblock %}

{% block lwpcms_content %}
    <div id='lwpcms-content-admin'>
        <nav class='lwpcms-side-nav'>
            <ul class='lwpcms-side-nav-side'>
                {% for button in sidenav['buttons'] %}
                    <li>
                        <a class='lwpcms-side-nav-point'>
                            <span>{{ render_svg(button['svg'], 'white') }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul> 
            <ul>
                {% for button in sidenav['buttons'] %}
                    <li>
                        <a class='lwpcms-side-nav-btn' href='{{ button["href"] }}'>
                            <span>{{ button["label"] }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <section id='lwpcms-admin-content'> 
            {% block admin_content %}
            {% endblock %}
        </section>
    </div>
{% endblock %}
