{% extends 'admin.html' %}
{% from '_formhelpers.html' import render_field %}


{% block admin_content %}
    <form method="POST" class='lwpcms-form'>
                <section>
                    {{ render_field(form.site_name) }}
                    {{ render_field(form.site_description) }}
                </section>
                <section>
                    <label for='site_tags'>Site Tags</label>
                    <input type='tags' id='site_tags' tags='{{ site_tags }}' placeholder='{{ site_tags }}' name='site_tags'>
                </section>
                <section>
                    {{ render_field(form.demo) }}
                </section>
                <section>
                    {{ render_field(form.submit) }}
                </section>
            </form>
{% endblock %}
