{% extends 'admin.html' %}

{% from '_formhelpers.html' import render_field %}


{% block admin_content %}
    <section>
        <form method='POST' class='lwpcms-form' enctype="multipart/form-data">
            <section>
                <h3>Upload File</h3>
            </section>
            <section>
                {{ render_field(form.title) }}
                {{ render_field(form.file) }}
            </section>
            <section>
                {{ render_field(form.submit) }}
            </section>
        </form>
    </section>
    <section>
        {% if page_count > 0 %}
            <section>
                <nav class='lwpcms-pager'>
                    {% for i in range(0, page_count) %}
                        <a class='lwpcms-pager-btn' href="/admin/files/{{ i }}">{{ i }}</a>
                    {% endfor %}
                </nav>
            </section>
        {% endif %}
        <section>
            <div class='lwpcms-gallery'>
                {% for file in files %}
                    <div
                        onClick='window.location.href="{{
                            url_for("static", filename="upload/"+file.content)
                        }}";'
                        class='lwpcms-gallery-item'>
                        <div class='lwpcms-gallery-item-bar'>
                            <button onClick='event.cancelBubble=true; delete_file(this, "{{ file._id }}");' class='lwpcms-gallery-item-bar-btn warning'>X</button>
                        </div>
                        <p>
                            {{ file.title | escape }}
                        </p>
                        {% if is_image(file.content) %}
                            <img 
                            src='{{
                            url_for("static", filename="upload/"+file_thumbnail(file.content, 128))
                            }}'>
                        {% else %}
                            {{ render_svg('drive_file.svg', 'black') }}
                        {% endif %}
                        <br>
                        <p>
                            {{ file.content | escape }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </section>
        {% if page_count > 0 %}
            <section>
                <nav class='lwpcms-pager'>
                    {% for i in range(0, page_count) %}
                        <a class='lwpcms-pager-btn' href="/admin/files/{{ i }}">{{ i }}</a>
                    {% endfor %}
                </nav>
            </section>
        {% endif %}
    </section>
{% endblock %}
