{% extends 'admin.html' %}

{% from '_formhelpers.html' import render_field %}
{% from '_svg.html' import render_svg %}


{% block admin_content %}
    <section>
        <h2>Publish</h2>
        <p>
            Welcome to the publisher section.
            This section is used to create content.
        </p>
    </section>
    <section>
        <form method='POST' class='lwpcms-form' enctype="multipart/form-data">
            <section>
                <h3>Create Post</h3>
            </section>
            <section>
                {{ render_field(form.title) }}
                {{ render_field(form.content) }}
            </section>
            <section>
                <div class='lwpcms-addlist' type='attachment'>
                    <!--<div class='lwpcms-addlist-item'>
                        <section class='lwpcms-addlist-left'>
                            {{ render_svg('add.svg', 'black') }}
                        </section>
                        <section class='lwpcms-inputs lwpcms-addlist-right'>
                            <input type='text' placeholder='Test'></input>
                        </section>
                    </div>-->
                </div>
            </section>
            <section>
                {% if not id %}
                    {{ render_field(form.submit) }}
                {% else %}
                    {{ render_field(form.update) }}
                {% endif %}
            </section>
        </form>
    </section>
{% endblock %}
