{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}
{% from "_lwpcmshelpers.html" import lwpcms_render_font %}

{% block lwpcms_head %}
    {{ super() }}

    {{ lwpcms_render_font() }}
{% endblock %}

{% block lwpcms_content %}
    <section class='lwpcms-content-center'>
        <section class='lwpcms-content-center-header'>
            {{ lwpcms_render_svg('LWPCMS.svg') | safe }}
        </section>
        <section>
            <section class='lwpcms-focused-card card-2'>
                <section>
                    <h2>Woops!</h2>
                </section>
                <section>
                    <p>{{ error }}</p>
                </section>
            </section>
        </section>
    </section>
{% endblock %}
