<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link
            rel='stylesheet'
            type='text/css'
            href='{{ url_for("static", filename="css/style.css") }}'>
        <link 
            href='https://fonts.googleapis.com/css?family=Open+Sans'
            rel='stylesheet'
            type='text/css'>

        {% block lwpcms_head %}
        {% endblock %}

        {% for m_head in call_module_event(2, none) %}
            {{ m_head|safe }}
        {% endfor %}
    </head>
    <body>
        <div id='lwpcms-content'>
            {% block lwpcms_content %}
            {% endblock %}

            {% for m_body in call_module_event(3, none) %}
                {{ m_body|safe }}
            {% endfor %}
        </div>
    </body>
    <footer>
        <script
            type='text/javascript'
            src='{{ url_for("static", filename="js/functions.js") }}'></script>
        <script
            type='text/javascript'
            src='{{ url_for("static", filename="js/addlists.js") }}'></script>
        <script
            type='text/javascript'
            src='{{ url_for("static", filename="js/tables.js") }}'></script>
        <script
            type='text/javascript'
            src='{{ url_for("static", filename="js/svg_color.js") }}'></script>
        <script
            type='text/javascript'
            src='{{ url_for("static", filename="js/files.js") }}'></script>
        <script
            type='text/javascript'
            src='{{ url_for("static", filename="js/posts.js") }}'></script>
        <script
            type='text/javascript'
            src='{{ url_for("static", filename="js/attachment_search.js") }}'></script>

        {% block lwpcms_footer %}
        {% endblock %}

        {% for m_footer in call_module_event(4, none) %}
            {{ m_footer|safe }}
        {% endfor %}
    </footer>
</html>
