{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}


{% block lwpcms_content %}
    <section class='lwpcms-content-center'>
        <div class='lwpcms-focused-card'>
            <form method="POST" class='lwpcms-form'>
                <section>
                    <h1>Hello</h1>
                    <p>Login to your site!</p>
                </section>
                <section>
                    {{ render_field(form.user_name) }}
                    {{ render_field(form.password) }}
                </section>
                <section>
                    {{ render_field(form.submit) }}
                </section>
                {% if msg %}
                    <section>
                        <p>{{ msg }}</p>
                    </section>
                {% endif %}
            </form>
        </div>
    </section>
{% endblock %}
