{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}


{% block lwpcms_content %}
    <section class='lwpcms-content-center'>
        <div class='lwpcms-focused-card'>
            <form method="POST">
                <section>
                    <h1>Setup</h1>
                    <p>Let's setup your site!</p>
                </section>
                <section>
                    {{ render_field(form.site_name) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.password_confirm) }} 
                </section>
                <section>
                    {{ render_field(form.submit) }}
                </section>
            </form>
        </div>
    </section>
{% endblock %}
