* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif; }

html, body {
  height: 100%; }

#lwpcms-content-admin {
  display: flex;
  min-height: 100vh; }

.lwpcms-side-nav {
  display: flex;
  background-color: white;
  border-right-color: #bdc3c7;
  border-right-width: 1px;
  border-right-style: solid;
  color: black;
  width: 16%;
  min-width: 286px; }
  .lwpcms-side-nav ul, .lwpcms-side-nav li {
    list-style: none;
    width: 100%; }
    .lwpcms-side-nav ul .lwpcms-side-nav-btn, .lwpcms-side-nav li .lwpcms-side-nav-btn {
      width: 100%;
      height: 48px;
      line-height: 48px;
      text-decoration: none;
      color: black;
      display: block;
      font-size: 1rem; }
      .lwpcms-side-nav ul .lwpcms-side-nav-btn span, .lwpcms-side-nav li .lwpcms-side-nav-btn span {
        padding-left: 8px; }
      .lwpcms-side-nav ul .lwpcms-side-nav-btn:hover, .lwpcms-side-nav li .lwpcms-side-nav-btn:hover {
        background-color: #3498db;
        color: white;
        cursor: pointer; }
  .lwpcms-side-nav .lwpcms-side-nav-side {
    width: 20%;
    min-width: 52px;
    background-color: #3498db; }
    .lwpcms-side-nav .lwpcms-side-nav-side .lwpcms-side-nav-point {
      width: 100%;
      height: 48px;
      line-height: 48px;
      text-decoration: none;
      color: #F1EED9;
      display: block;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center; }

#lwpcms-admin-content {
  width: 100%; }

.lwpcms-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

section {
  padding: 8px; }

.lwpcms-table {
  width: 100%;
  text-align: left; }
  .lwpcms-table tr {
    height: 32px;
    line-height: 32px;
    background-color: white;
    color: gray; }
    .lwpcms-table tr td, .lwpcms-table tr th {
      padding: 8px; }
    .lwpcms-table tr td {
      border-bottom-color: #3498db;
      border-bottom-style: solid;
      border-bottom-width: 2px; }
      .lwpcms-table tr td img {
        max-width: 48px; }
    .lwpcms-table tr th {
      background-color: white;
      color: #3498db; }

.lwpcms-table-td {
  display: flex; }

.lwpcms-button {
  background-color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  color: black;
  height: 32px;
  line-height: 32px;
  min-width: 92px;
  padding-left: 4px;
  padding-right: 4px;
  transition: .2s;
  text-decoration: none; }
  .lwpcms-button:hover {
    background-color: white;
    cursor: pointer;
    transition: .2s; }

.lwpcms-outlined {
  outline-color: #bdc3c7;
  outline-width: 1px;
  outline-style: solid; }

.lwpcms-form {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #bdc3c7;
  color: #3498db; }

.lwpcms-inputs input[type='text'], .lwpcms-inputs input[type='password'], .lwpcms-inputs input[type='email'], .lwpcms-form input[type='text'], .lwpcms-form input[type='password'], .lwpcms-form input[type='email'] {
  display: block;
  height: 32px;
  line-height: 32px;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  font-size: 100%;
  width: 100%; }
.lwpcms-inputs textarea, .lwpcms-form textarea {
  display: block;
  width: 100%;
  min-height: 256px;
  resize: none;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray; }

.lwpcms-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%; }
  .lwpcms-gallery .lwpcms-gallery-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 156px;
    outline-color: #bdc3c7;
    outline-width: 1px;
    outline-style: solid;
    margin: 4px;
    overflow: hidden;
    transition: .2s;
    position: relative; }
    .lwpcms-gallery .lwpcms-gallery-item:hover {
      outline-color: black;
      outline-width: 1px;
      outline-style: solid;
      cursor: pointer;
      background-color: #3498db;
      transition: .2s;
      color: white; }
    .lwpcms-gallery .lwpcms-gallery-item img, .lwpcms-gallery .lwpcms-gallery-item object {
      display: block;
      width: 60%;
      max-width: 128px; }
    .lwpcms-gallery .lwpcms-gallery-item p {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: 128px;
      font-size: 0.7rem; }
    .lwpcms-gallery .lwpcms-gallery-item .lwpcms-gallery-item-bar {
      display: flex;
      align-items: right;
      justify-content: right;
      flex-direction: row-reverse;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 24px;
      line-height: 24px;
      vertical-align: middle; }
      .lwpcms-gallery .lwpcms-gallery-item .lwpcms-gallery-item-bar .lwpcms-gallery-item-bar-btn {
        display: block;
        background-color: white;
        outline: #bdc3c7;
        outline-style: solid;
        outline-width: 1px;
        border-radius: none;
        border: none;
        width: 16px;
        height: 16px;
        outline-color: #bdc3c7; }
      .lwpcms-gallery .lwpcms-gallery-item .lwpcms-gallery-item-bar .warning {
        transition: .2s; }
        .lwpcms-gallery .lwpcms-gallery-item .lwpcms-gallery-item-bar .warning:hover {
          background-color: #e74c3c;
          cursor: crosshair;
          transition: .2s; }

.lwpcms-btn, input[type='lwpcms-file'] {
  display: inline-block;
  background-color: white;
  outline-width: 1px;
  outline-style: solid;
  outline-color: lightgray;
  color: #3498db;
  padding-left: 6px;
  padding-right: 6px;
  min-width: 128px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  border: none;
  transition: .2s;
  text-decoration: none; }
  .lwpcms-btn:hover, input[type='lwpcms-file']:hover {
    cursor: pointer;
    background-color: #3498db;
    color: white;
    transition: .2s; }

#lwpcms-window-manager {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none; }

#lwpcms-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -30;
  pointer-events: none; }

.lwpcms-backdrop-window {
  position: relative;
  background-color: white;
  width: 600px;
  min-height: 250px;
  z-index: 25;
  pointer-events: all; }
  .lwpcms-backdrop-window section:first-of-type {
    width: 100%;
    max-height: 300px;
    overflow: scroll;
    padding: 0 !important; }
  .lwpcms-backdrop-window .lwpcms-gallery {
    justify-content: center !important; }
    .lwpcms-backdrop-window .lwpcms-gallery .lwpcms-gallery-item {
      width: 100px !important;
      height: 100px !important; }
  .lwpcms-backdrop-window .lwpcms-backdrop-window-top {
    height: 48px;
    width: 100%;
    background-color: #3498db; }
    .lwpcms-backdrop-window .lwpcms-backdrop-window-top ul, .lwpcms-backdrop-window .lwpcms-backdrop-window-top li {
      display: inline-block;
      list-style: none;
      margin-left: 10px;
      margin-right: 10px; }
      .lwpcms-backdrop-window .lwpcms-backdrop-window-top ul label, .lwpcms-backdrop-window .lwpcms-backdrop-window-top li label {
        line-height: 48px;
        color: white;
        position: relative; }
        .lwpcms-backdrop-window .lwpcms-backdrop-window-top ul label svg, .lwpcms-backdrop-window .lwpcms-backdrop-window-top ul label object, .lwpcms-backdrop-window .lwpcms-backdrop-window-top li label svg, .lwpcms-backdrop-window .lwpcms-backdrop-window-top li label object {
          height: 100%;
          display: inline-block;
          line-height: 48px;
          padding-top: 12px;
          position: relative; }
          .lwpcms-backdrop-window .lwpcms-backdrop-window-top ul label svg:hover, .lwpcms-backdrop-window .lwpcms-backdrop-window-top ul label object:hover, .lwpcms-backdrop-window .lwpcms-backdrop-window-top li label svg:hover, .lwpcms-backdrop-window .lwpcms-backdrop-window-top li label object:hover {
            cursor: pointer; }

.lwpcms-addlist-item {
  display: flex;
  padding: 12px; }
  .lwpcms-addlist-item span ul, .lwpcms-addlist-item span li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px; }
    .lwpcms-addlist-item span ul label, .lwpcms-addlist-item span ul li, .lwpcms-addlist-item span li label, .lwpcms-addlist-item span li li {
      line-height: 48px;
      color: #3498db;
      position: relative; }
      .lwpcms-addlist-item span ul label svg, .lwpcms-addlist-item span ul label object, .lwpcms-addlist-item span ul li svg, .lwpcms-addlist-item span ul li object, .lwpcms-addlist-item span li label svg, .lwpcms-addlist-item span li label object, .lwpcms-addlist-item span li li svg, .lwpcms-addlist-item span li li object {
        height: 100%;
        display: inline-block;
        line-height: 48px;
        padding-top: 12px;
        position: relative; }
        .lwpcms-addlist-item span ul label svg:hover, .lwpcms-addlist-item span ul label object:hover, .lwpcms-addlist-item span ul li svg:hover, .lwpcms-addlist-item span ul li object:hover, .lwpcms-addlist-item span li label svg:hover, .lwpcms-addlist-item span li label object:hover, .lwpcms-addlist-item span li li svg:hover, .lwpcms-addlist-item span li li object:hover {
          cursor: pointer; }

*[selected='true'] {
  outline-color: #3498db !important;
  outline-width: 4px !important;
  outline-style: solid; }

.left {
  float: left; }

.right {
  float: right; }

/*# sourceMappingURL=style.css.map */
