$main-color: #bdc3c7;
$main-color-light: white;
$main-color-lighter: #3498db;
$sec-color-strong: black;
$sec-color-dim: #F1EED9;
$warning-color: #e74c3c;


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

#lwpcms-content-admin {
    display: flex;
    min-height: 100vh;
}

.lwpcms-side-nav {
    display: flex;
    background-color: $main-color-light;
    border-right-color: $main-color;
    border-right-width: 1px;
    border-right-style: solid;
    color: $sec-color-strong;
    width: 16%;
    min-width: 286px;

    ul, li {
        list-style: none;
        width: 100%;

        .lwpcms-side-nav-btn {
            width: 100%;
            height: 48px;
            line-height: 48px;
            text-decoration: none;
            color: $sec-color-strong;
            display: block;
            font-size: 1rem;

            span {
                padding-left: 8px;
            }

            &:hover {
                background-color: $main-color-lighter;
                color: $main-color-light;
                cursor: pointer;
            }
        }
    }

    .lwpcms-side-nav-side {
        width: 20%;
        min-width: 52px;
        background-color: $main-color-lighter;

        .lwpcms-side-nav-point {
            width: 100%;
            height: 48px;
            line-height: 48px;
            text-decoration: none;
            color: $sec-color-dim;
            display: block;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

#lwpcms-admin-content {
    width: 100%;
}

.lwpcms-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    padding: 8px;
}

.lwpcms-table {
    width: 100%;
    text-align: left;

    tr {
        height: 32px;
        line-height: 32px;
        background-color: $main-color-light;
        color: gray;

        td, th {
            padding: 8px;
        }

        td {
            border-bottom-color: $main-color-lighter;
            border-bottom-style: solid;
            border-bottom-width: 2px;

            img {
                max-width: 48px;
            }
        }

        th {
            background-color: white;
            color: $main-color-lighter;
        }
    }

    .alt {
        //background-color: rgb(220, 220, 220);
        //color: $main-color-light;   
    }
}

.lwpcms-table-td {
    display: flex;
}

.lwpcms-button {
    background-color: $main-color-light;
    outline: none;
    border: none;
    font-size: 1rem;
    color: $sec-color-strong;
    height: 32px;
    line-height: 32px;
    min-width: 92px;
    padding-left: 4px;
    padding-right: 4px;
    transition: .2s;
    text-decoration: none;

    &:hover {
        background-color: $main-color-light;
        cursor: pointer;
        transition: .2s;
    }

}

.lwpcms-outlined {
    outline-color: $main-color;
    outline-width: 1px;
    outline-style: solid;
}

.lwpcms-form{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: $main-color;
    color: $main-color-lighter;
}

.lwpcms-inputs, .lwpcms-form {
    input[type='text'], input[type='password'], input[type='email'] {
        display: block;
        height: 32px;
        line-height: 32px;
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: lightgray;
        font-size: 100%;
        width: 100%;
    }

    textarea {
        display: block;
        width: 100%;
        min-height: 256px;
        resize: none;
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: lightgray;
    }
}

.lwpcms-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

    .lwpcms-gallery-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 156px;
        height: 156px;
        outline-color: $main-color;
        outline-width: 1px;
        outline-style: solid;
        margin: 4px;
        overflow: hidden;
        transition: .2s;

        position: relative;

        &:hover {
            outline-color: $sec-color-strong;
            outline-width: 1px;
            outline-style: solid;
            cursor: pointer;
            background-color: $main-color-lighter;
            transition: .2s;
            color: white;
        }

        img, object {
            display: block;
            width: 60%;
            max-width: 128px;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            max-width: 128px;
            font-size: 0.7rem;
        }

        .lwpcms-gallery-item-bar {
            display: flex;
            align-items: right;
            justify-content: right;
            flex-direction: row-reverse;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 24px;
            line-height: 24px;
            vertical-align: middle;

            .lwpcms-gallery-item-bar-btn {
                display: block;
                background-color: white;
                outline: $main-color;
                outline-style: solid;
                outline-width: 1px;
                border-radius: none;
                border: none;
                width: 16px;
                height: 16px;
                outline-color: $main-color;
            }

            .warning {
                transition: .2s;

                &:hover {
                    background-color: $warning-color;
                    cursor: crosshair;
                    transition: .2s;
                }
            }  

        }
    }
}

.lwpcms-btn {
    display: inline-block;
    background-color: $main-color-light;
    outline-width: 1px;
    outline-style: solid;
    outline-color: lightgray;
    color: $main-color-lighter;
    padding-left: 6px;
    padding-right: 6px;
    min-width: 128px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    border: none;
    transition: .2s;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: $main-color-lighter;
        color: white;
        transition: .2s;
    }
}

input[type='lwpcms-file'] {
    @extend .lwpcms-btn;
}

#lwpcms-window-manager {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}
#lwpcms-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -30;
    pointer-events: none;
}

.lwpcms-backdrop-window {
    position: relative;
    background-color: $main-color-light;
    width: 600px;
    min-height: 250px;
    z-index: 25;
    pointer-events: all;

    section:first-of-type {
        width: 100%;
        max-height: 300px;
        overflow: scroll;
        padding: 0 !important;
    }

    .lwpcms-gallery {
        justify-content: center !important;

        .lwpcms-gallery-item {
            width: 100px !important;
            height: 100px !important;
        }
    }

    .lwpcms-backdrop-window-top {
        height: 48px;
        width: 100%;
        background-color: $main-color-lighter;

        ul, li {
            display: inline-block;
            list-style: none;
            margin-left: 10px;
            margin-right: 10px;

            label {
                line-height: 48px;
                color: $main-color-light;
                position: relative;

                svg, object {
                    height: 100%;
                    display: inline-block;
                    line-height: 48px;
                    padding-top: 12px;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.lwpcms-addlist-item {
    display: flex;
    padding: 12px;

    span {
        ul, li {
            display: inline-block;
            list-style: none;
            margin-left: 10px;
            margin-right: 10px;

            label, li {
                line-height: 48px;
                color: $main-color-lighter;
                position: relative;

                svg, object {
                    height: 100%;
                    display: inline-block;
                    line-height: 48px;
                    padding-top: 12px;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

*[selected='true'] {
    outline-color: $main-color-lighter !important;
    outline-width: 4px !important;
    outline-style: solid;
}

.left {
    float: left;
}

.right {
    float: right;
}
