$main-color: #2E221F;
$main-color-light: #382313;
$main-color-lighter: #58351A;
$sec-color-strong: #F7EDBF;
$sec-color-dim: #F1EED9;


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.lwpcms-side-nav {
    background-color: $main-color-light;
    color: $sec-color-strong;
    width: 16%;
    min-width: 286px;
    height: 100vh;
    float: left;
    
    ul, li {
        list-style: none;
        width: 100%;
        .lwpcms-side-nav-btn {
             width: 100%;
             height: 48px;
             line-height: 48px;
             text-decoration: none;
             color: $sec-color-strong;
             display: block;
             transition: .2s;
             font-size: 1rem;

             span {
                 padding-left: 8px;
             }

             &:hover {
                 background-color: $main-color-lighter;
                 color: $sec-color-dim;
                 cursor: pointer;
                 transition: .2s;
             }
        }
    }

    .lwpcms-side-nav-side {
        height: 100vh;
        width: 15%;
        background-color: $main-color;
        float: left;

        .lwpcms-side-nav-point {
            width: 100%;
            height: 48px;
            line-height: 48px;
            text-decoration: none;
            color: $sec-color-dim;
            display: block;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

#lwpcms-admin-content {
    float: left;
}

.lwpcms-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    padding: 8px;
}

.lwpcms-table {
    width: 100%;
    text-align: left;

    tr {
        height: 32px;
        line-height: 32px;
        background-color: $sec-color-strong;

        td, th {
            padding: 8px;
            outline-color: white;
            outline-style: solid;
            outline-width: 1px;
        }
    }
}

.lwpcms-button, .lwpcms-focused-card input[type='submit'] {
    background-color: $main-color-lighter;
    outline: none;
    border: none;
    font-size: 100%;
    color: $sec-color-strong;
    height: 32px;
    line-height: 32px;
    min-width: 92px;
    padding-left: 4px;
    padding-right: 4px;
    transition: .2s;

    &:hover {
        background-color: $main-color-light;
        cursor: pointer;
        transition: .2s;
    }

}

.lwpcms-focused-card {
    width: 360px;
    min-height: 256px;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: lightgray;
    background-color: $sec-color-dim;

    input[type='text'], input[type='password'], input[type='email'] {
        display: block;
        height: 32px;
        line-height: 32px;
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: lightgray;
    }
}

